@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.form {
  font-family: "Muli", sans-serif;
}
label {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 0 0 2vh 0;
}
.form input,
textarea {
  display: block;
  width: 30%;
  height: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
  border: 1px solid #62b4ff;
  border-radius: 5px;
  font-size: 20px;
}
.form button {
  background-color: white;
  color: #62b4ff;
  border: 1px solid #62b4ff;
  width: 90px;
  height: 30px; /* Green */
  margin-left: 150px;
}
button:hover {
  background-color: #62b4ff;
  color: white;
}

textarea {
  height: 15vh;
}
select {
  display: inline-block;
  width: 30%;
  height: 30px;
  background: white;
  color: #62b4ff;
  border: 1px solid #62b4ff;
  margin-top: -50px;
  margin-bottom: 20px;
}
select::after {
  background: #62b4ff;
  color: white;
}

.form label {
  text-align: left;
}
